.corona-banner {
    width: 100%;
    height: 535px;
    background-image: url(../public/Argd1d71zvRzqpROy-t1rA.jpg);
    background-size: contain;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
       color: white;
       font-weight: bold;
       font-size: 100px;
       
    }
}