@import './header.scss';
@import './header-info.scss';
@import './posts.scss';
@import './grid.scss';
@import './corona.scss';


html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1335px;
  margin: auto;
}
.main {
  padding: 45px;
  background: #F2F2F2;
  border-radius: 10px;
  margin-top: 15px;

}
.mt-15 {
  margin-top: 15px;
}
