.post_large {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  background-size: contain;
  position: relative;
  
  img {
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: brightness(50%);
    object-fit: cover;
  }

  .post_large-content {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 15px;

    * {
      padding: 0px;
      margin: 0px;
    }
    span {
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 500;
    }
    h3 {
      margin-bottom: 15px;
      font-size: 24px;
    }
    p {
      font-size: 12px;
    }
  }
}

.posts-min {
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  min-height: 335px;
}

.post-medium {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;

  * {
    margin: 0px;
    padding: 0px;
  }

  .post-medium-content {
    padding: 15px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      color: #b88b59;
      font-weight: 600;
      font-size: 12px;
    }

    h4 {
      font-weight: normal;
      font-size: 20px;
      margin-top: 8px;
    }

    p {
      color: #c4c4c4;
      font-weight: normal;
      font-size: 12px;
    }
  }
  .post-medium-image-container-second {
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-size: contain;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .post-medium-image-container {
    height: 270px;
    width: 100%;
    overflow: hidden;
    background-size: contain;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.chronology-post {
  width: 100%;
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  min-height: 200px;

  * {
    margin: 0px;
  }

  .chronology-post-img {
    width: 375px;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }

  .chronology-post-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      font-size: 12px;
      color: #b88b59;
      margin-bottom: 6px;
    }

    h3 {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.post-content {
  .post-content-head {
    width: 826px;

    * {
      margin: 0px;
      padding: 0px;
    }

    span {
      color: #b88b59;
      font-size: 16px;
      font-weight: 500;
    }

    h1 {
      font-size: 38px;
      font-weight: bold;
      margin: 15px 0px;
    }

    p {
      color: rgba(0, 0, 0, 0.4);
      font-size: 12px;
    }
  }
  .post-content-body {
    width: 650px;

    p {
      font-weight: normal;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
